<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event APP</title>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <link rel="stylesheet" href="styles/main.css">
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
</head>
<body>
    <div id="calendar"></div>
    <div class="notification"></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.client.js"></script>
    <script src="./js/notification.js"></script>
    <script src="./js/event.js"></script>
</body>
</html>